.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background: #fef2e8;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.container {
  margin-left: 240px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 792px;
  height: 174px;

  margin-top: 64px;
}

.sloganTxt {
  width: 760px;

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #023a6b;
  font-family: Eczar;
}

.pleasures {
  color: #f73;
  font-family: Eczar;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

@media screen and (max-width: 768px) {
  .body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .container {
    margin-left: 3vw;
    margin-top: 0px;
  }
  .sloganTxt {
    width: 327px;
    align-items: flex-start;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  .pleasures {
    color: #f73;
    font-family: Eczar;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
}

.chooseCoffe {
  display: inline-flex;
  flex-direction: row;

  margin-top: 64px;
  gap: 48px;

  width: 960px;
  height: 426px;
  margin-left: 240px;
}

.option {
  display: flex;
  flex-direction: column;
  margin-right: 4.8vw;
}

.rotate-img {
  margin-left: -135px;
  margin-top: 110px;
  display: flex;
  width: 100px;
  height: 103px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-repeat: no-repeat;

  background-image: url('../../Images/Stamp.png');
  animation: rotation 23s ease-in-out infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.cup {
  width: 264px;
  height: 220px;

  display: flex;
}

.nameNprice {
  display: flex;
}

.coffe-info {
  display: flex;
  margin-bottom: 16px;
  margin-top: 24px;

  color: #023a6b;
  font-family: Eczar;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
