<div class="main">
  <!-- Slogan -->
  <div class="container">
    <h2 class="sloganTxt">
      We believe a cup of coffee is one of the most important, simple
      <span class="pleasures">pleasures</span> in life
    </h2>
  </div>

  <!-- Product list layout -->
  <section class="chooseCoffe">
    <section
      class="option"
      *ngFor="let cup of data; let i = index">
      <div class="cup">
        <img
          src="{{ cup.cupImg }}"
          alt="Extra Latte Cup"
          class="cup" />
        <div
          class="rotate-img"
          *ngIf="cup.stamp"></div>
      </div>

      <div class="coffe-info">
        {{ cup.title }}

        <div class="price">
          <label class="price-lable">
            ${{ cup.choosenSize ? cup.price[cup.choosenSize] : 0.0 }}</label
          >
        </div>
      </div>

      <div class="choose-size">
        <input
          class="size-btn"
          type="radio"
          name="size{{ i }}"
          [(ngModel)]="cup.choosenSize"
          [value]="cup.size1" />
        <label class="size">{{ cup.size1 }} ml</label>

        <input
          class="size-btn"
          type="radio"
          name="size{{ i }}"
          [(ngModel)]="cup.choosenSize"
          [value]="cup.size2" />
        <label class="size">{{ cup.size2 }} ml</label>
      </div>

      <div class="sugar-choice">
        <input
          class="sugar-btn"
          type="checkbox"
          [(ngModel)]="cup.IsSugarAdded" />
        <div class="sugar">add sugar</div>
      </div>

      <div
        class="error-msg"
        *ngIf="cup.buttonClicked && !cup.choosenSize">
        please choose cups size
      </div>

      <div class="cart-container">
        <button
          class="cart-btn"
          (click)="increment(cup)">
          add to cart
        </button>
        <button
          class="info-btn"
          (click)="onButtonClick(cup)"></button>
      </div>
    </section>
  </section>
</div>
